@font-face {
    font-family: 'beautique';
    src: url('https://cdn.prod.website-files.com/69e54bc23a3ed36aaabaad40/6a1ed0dfa96e759e8395295a_BeautiqueDisplay-Italic.otf');
}

@font-face {
    src: url('https://cdn.prod.website-files.com/69e54bc23a3ed36aaabaad40/69e54bc23a3ed36aaabab080_NeutralSans-Bold.ttf');
    font-family: 'bold text';
}

@font-face {
    src: url('https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2');
    font-family: 'normal text';
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'normal text';
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;
}

#main #navbar {
    position: absolute;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
}

#navbar h1 {
    font-size: 300%;
    color: white;
}

#navbar #text {
    width: 40%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    font-size: 90%;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

#main #section01 {
    width: 100%;
    height: 100vh;
    background-image: url(https://cdn.prod.website-files.com/69e54bc23a3ed36aaabaad40/6a1f0239886b36a2baed4eab_ChatGPT%20Image%202%20jun%202026%2C%2013_17_57-p-1600.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 11%;
    flex-direction: column;
}

#section01 .sectext {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 8%;
    color: #fff;
    letter-spacing: 6px;
    font-size: 17px;
}

#section01 #Nevire h1 {
    color: white;
    font-size: 18vw;
    font-weight: 100;
    font-family: 'beautique';
    letter-spacing: 2%;
}

#Nevire {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Nevire #We {
    width: 40%;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}

#section01 #sectiontext {
    padding: 0% 5%;
    letter-spacing: 0%;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5%;
}

#main #section02 {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: 2.2% 1.8%;
}

#main #inner-section02 {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 10% 2.5%;
}

#section02 .sec02text01 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec02text01 .ptext {
    font-family: 'bold text';
    text-transform: uppercase;
}

#section02 .sec02text02 {
    width: 100%;
    margin-top: 8%;
}

.sec02text02 .sec02h1 {
    font-size: 65px;
    font-family: 'normal text';
    font-weight: 500;
    letter-spacing: -2px;
}

.sec02text02 .sec02h1 span {
    display: block;
}

#section02 .sec02text02 .sec02h1 span:nth-child(1) {
    text-align: right;
}

#section02 .sec02text02 .sec02h1 span:nth-child(2) {
    text-align: left;
}

#section02 .sec02text03 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

.sec02text03 .ptext {
    width: 40%;
    font-family: 'normal text';
    font-size: 20px;
    letter-spacing: -1px;
}

#main #section03 {
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
}

#section03 #sec-03-text-01 {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 80px 60px;
}

#sec-03-text-01 .text-01-h1 {
    width: 60%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#sec-03-text-01 .text-01-h1 .text {
    color: #fff;
    font-size: 60px;
}

#sec-03-text-01 .text-01-h1 .text-01 {
    width: 60%;
    color: #ffffff9a;
}

#sec-03-text-01 .page02 {
    color: #fff;
}

#section03 .images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.images div:nth-child(1) {
    width: 49.4%;
    height: 70vh;
    background-image: url(https://cdn.prod.website-files.com/69e54bc23a3ed36aaabaad40/69e54bc23a3ed36aaabab1a2_8ba7a843959bc00b9b692e2085cbcd0f_684f37523ce7f016f3cf34f4_magnific-sP3LPSZmIKtOUlL6qtGo-Close-Up%20Knitwear%20Duo-new.png);
    background-position: center;
    background-size: cover;
    border-right: 0px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.images div:nth-child(2) {
    width: 49.4%;
    height: 70vh;
    background-image: url(https://cdn.prod.website-files.com/69e54bc23a3ed36aaabaad40/69e54bc23a3ed36aaabab17c_123d42880b16b7770ebd07c008b12def_Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2814%29.png);
    background-position: center;
    background-size: cover;
    border-left: 0px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#section03 .sec-03-text-02-p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 60px;
    padding-right: 40px;

}

#section03 .text-02-p-01 {
    width: 45%;
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.text-02-p-01 p:nth-child(1) {
    color: #ffffff61;
}

#section03 .text-02-p-02 {
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

#main #section04 {
    width: 100%;
    min-height: 200vh;
    background-color: #000000;
    padding: 2.2% 1.8%;

}

#main #section04 #inner-section04 {
    width: 100%;
    height: 200vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 80px;
}

#section04 #inner-section04 #sec-04-text-01 {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 80px;
}

#inner-section04 #sec-04-text-01 .text-01-h1 {
    width: 60%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    /* gap: 10px; */
}

#inner-section04 #sec-04-text-01 .text-01-h1 .text {
    color: #000000;
    font-size: 60px;
}

#inner-section04 #sec-04-text-01 .text-01-h1 .text-01 {
    width: 60%;
    color: #0000009a;
}

#inner-section04 #sec-04-text-01 .page02 {
    color: #000000;
}

#inner-section04 .card-01-p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    padding-bottom: 50px;
}

.card-01-p .card-01 {
    position: relative;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.card-01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.img-top {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    top: 0%;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.img-bott {
    width: 100%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.453);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.card-01-p h4{
    color: #ffffff;
    font-family: 'normal text';
    font-weight: 400;

}

.card-01-p .img-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.953);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  opacity: 0;
  transition: 0.5s;
}

.img-overlay h1 {
  background: -webkit-linear-gradient(0deg, #eee, #8D82CA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5vw;
  font-weight: 400;
}

.card-01:hover .img-overlay {
  opacity: 1;
}

.card-01:hover .img-s4{
  scale: 1.1;
}



